[submodule "shop-shared-server"]
	path = shop-shared-server
	url = git@github.com:Alster/shop-shared-server.git
[submodule "shop-shared"]
	path = shop-shared
	url = git@github.com:Alster/shop-shared.git
[submodule "shop-exchange-shared"]
	path = shop-exchange-shared
	url = git@github.com:Alster/shop-exchange-shared.git
